@charset "UTF-8";

// 単位変換関数
@function vw($px) {
  @return calc($px * 100vw / 390);
}

@function vwPC($px) {
  @return calc($px * 100vw / 1440);
}

@function px2Rem($px) {
  @return calc($px / 16) * 1rem;
}

@function min($values...) {
  @return unquote('min(#{$values})');
}

@function max($values...) {
  @return unquote('max(#{$values})');
}

@function mvw($px) {
  $value1: calc($px * 100vw / 1040);
  $value2: px2Rem($px);

  @if $px >=0 {
    @return min($value1, $value2);
  }

  @else {
    @return max($value1, $value2);
  }
}


/* ページ全体のスタイル ----------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}


/* 部品 */
@mixin content-box {
  border: #fa7da3 solid 1px;
  border-radius: vw(10);
}

@mixin content-heading_01 {
  text-align: center;
  color: #fff;
  background-color: #fa7da3;
  border-radius: vw(9) vw(9) 0 0;
}

@mixin content-heading_02 {
  text-align: center;
  color: #fa7da3;
  background-color: #fdf0f5;
  border-radius: vw(9) vw(9) 0 0;
}

@mixin content-body {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 vw(9) vw(9);
}

@mixin content-box_pc {
  border-radius: vwPC(10);
}

@mixin content-heading_01_pc {
  border-radius: vwPC(9) vwPC(9) 0 0;
}

@mixin content-heading_02_pc {
  border-radius: vwPC(9) vwPC(9) 0 0;
}

@mixin content-body_pc {
  border-radius: 0 0 vwPC(9) vwPC(9);
}

.section-title {
  text-align: center;

  &--point {
    &__head {
      display: flex;
      justify-content: center;
      column-gap: vw(5);
    }
  }

  &__head {
    font-size: vw(18);
    font-weight: 400;

    &--brown {
      margin-top: vw(4);
      font-weight: 500;
      color: #4d2b1b;
    }

    &--course {
      margin-left: vw(5);
    }
  }

  &__logo-image {
    width: vw(198);
  }

  &__heading {
    display: flex;
    justify-content: center;
    margin-top: vw(6);
    font-size: vw(32);
    font-weight: 700;
    letter-spacing: vw(1.4);
    color: #fa7da3;

    &--course {
      column-gap: vw(8);
      margin-top: vw(4);
      letter-spacing: 0px;
    }

    &--customer {
      column-gap: vw(14);
    }
  }

  &__image {
    height: vw(46);
    margin-top: vw(2);
  }
}

@media (min-width: 768px) {
  .section-title {
    &--point {
      &__head {
        column-gap: vwPC(6);
        margin-left: vwPC(2);
      }
    }

    &__head {
      font-size: vwPC(28);

      &--brown {
        font-size: vwPC(18.07);
      }

      &--course {
        margin-left: vwPC(6);
        font-size: vwPC(24);
      }
    }

    &__logo-image {
      padding-bottom: vwPC(4);
      width: vwPC(262);
    }

    &__heading {
      column-gap: vwPC(6);
      margin-top: vwPC(10);
      font-size: vwPC(42);
      letter-spacing: 0;

      &--course {
        column-gap: vwPC(13);
        margin-top: vwPC(7);
      }

      &--customer {
        column-gap: vwPC(24);
      }
    }

    &__image {
      height: vwPC(61.09);
      margin-top: vwPC(2);
    }
  }
}



/* ヘッダー ----------*/
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: vw(60);
  padding: 0 vw(9);
  background-color: #fff;
  z-index: 100;
}

.header-logo {
  margin-left: vw(3);
  margin-bottom: vw(6);

  &__image {
    width: vw(72);
  }
}

.header-block {
  display: flex;
  justify-content: space-between;
  column-gap: vw(10);
  height: vw(31);
  font-size: vw(12);

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--contact {
      width: vw(107);
      padding-left: vw(10);
      padding-right: vw(9);
      letter-spacing: vw(0.7);
      border-radius: vw(15.5);
      background-color: #fa7da3;
    }

    &--reserve {
      width: vw(173.77);
      padding: 0 vw(10);
      letter-spacing: vw(0.6);
      border-radius: vw(15.5);
      background-color: #49c43d
    }

    &--small {
      font-size: vw(10);
    }
  }

  &__image {
    height: vw(10);
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0 vwPC(208);
    height: vwPC(92);
  }

  .header-logo {
    margin-left: 0;
    margin-bottom: vwPC(2);

    &__image {
      width: vwPC(97);
    }
  }

  .header-block {
    column-gap: vwPC(20);
    height: vwPC(50.36);
    font-size: vwPC(21.12);

    &__button {
      &--contact {
        width: vwPC(189.1);
        padding-left: vwPC(24);
        padding-right: vwPC(17);
        letter-spacing: 0;
        border-radius: vwPC(25.18);
      }

      &--reserve {
        width: vwPC(295.49);
        padding-left: vwPC(24);
        padding-right: vwPC(16);
        letter-spacing: vwPC(-.2);
        border-radius: vwPC(25.18);
      }

      &--small {
        font-size: vwPC(17.87);
      }
    }

    &__image {
      height: vwPC(16);
    }
  }
}


/* メインビジュアル ----------*/
.cover {
  background-color: #fa7da3;

  &__container {
    position: relative;
    margin: 0 auto;
    padding-top: vw(60);
    padding-bottom: vw(30);
  }

  &__image {
    position: absolute;
    left: vw(4);
    bottom: 0;
    width: vw(208);
  }

  &__body {
    margin-left: auto;
    width: 50%;
  }
}

.catch {
  position: absolute;
  top: vw(82);
  left: vw(19);

  &__heading {
    width: vw(166);
  }

  &__lead {
    margin-top: vw(4);
    text-align: center;
    font-size: vw(18);
    color: #fff;
  }
}

.price {
  margin-left: vw(8);
  margin-bottom: vw(21);

  &__body {
    display: flex;
    justify-content: center;
    column-gap: vw(10);
    margin: 0 auto;
    padding-top: vw(20);
    padding-bottom: vw(21);
    background-color: rgba($color: #fff, $alpha: 0.3);
    box-shadow: #e77497 vw(4) vw(4) 0 0;
  }

  &__inner-left {
    margin-top: vw(2);
    margin-left: vw(4);
  }

  &__head {
    display: inline;
    padding: vw(1) vw(3) vw(3) vw(5);
    font-size: vw(13);
    font-weight: 700;
    color: #fa7da3;
    background-color: #fff;
  }

  &__foot {
    margin-top: vw(4);
    margin-left: vw(1);
    font-size: vw(24);
    font-weight: 700;
    color: #fff;
  }

  &__inner-right {
    margin-top: vw(1);
    line-height: 0.7;
    font-size: vw(36);
    font-weight: 700;
    color: #fffd7a;

    &--big {
      font-size: vw(76);
    }
  }

  &__sidebar {
    margin-top: vw(6);
    margin-right: vw(25);
    text-align: right;
    font-size: vw(9);
    color: #fff;

    &--value {
      font-family: "Outfit", sans-serif;
      font-size: vw(14);
    }
  }
}

.feature {
  display: flex;
  flex-direction: column;
  row-gap: vw(12);
  margin-left: vw(10);
  padding: 0 vw(26);
  font-size: vw(18);
  color: #fff;

  &__column {
    padding-top: vw(2);
    padding-bottom: vw(4);
    text-align: center;
    border: #fff solid 1px;
  }
}

@media (min-width: 768px) {
  .cover {
    &__container {
      padding-top: vwPC(92);
      padding-bottom: vwPC(55);
      max-width: vwPC(1000);
    }

    &__image {
      left: vwPC(-15);
      width: vwPC(486);
    }

    &__body {
      padding-right: vwPC(15);
      width: 43.8%;
    }
  }

  .catch {
    top: vwPC(91);
    left: vwPC(3);
    z-index: 1;

    &__heading {
      width: vwPC(544);
    }

    &__lead {
      margin-top: vwPC(-14);
      margin-right: vwPC(-4);
      text-align: end;
      font-size: vwPC(36);
      line-height: 1;
    }
  }

  .price {
    margin-left: 0;
    margin-bottom: vwPC(21);

    &__body {
      justify-content: space-between;
      column-gap: unset;
      padding: vwPC(39) vwPC(52) vwPC(39) vwPC(58);
      box-shadow: #e77497 vwPC(4) vwPC(4) 0 0;
    }

    &__inner-left {
      margin-left: 0;
    }

    &__head {
      padding: vwPC(3) vwPC(9) vwPC(6) vwPC(8);
      font-size: vwPC(29.25);
    }

    &__foot {
      margin-top: vwPC(12);
      margin-left: vwPC(2);
      font-size: vwPC(54);
    }

    &__inner-right {
      margin-top: 0;
      font-size: vwPC(81);
      line-height: .65;

      &--big {
        font-size: vwPC(171);
      }
    }

    &__sidebar {
      margin-top: vwPC(2);
      margin-right: vwPC(62);
      font-size: vwPC(17.02);

      &--value {
        font-family: "Outfit", sans-serif;
        font-size: vwPC(26.48);
      }
    }
  }

  .feature {
    row-gap: vwPC(20);
    margin-top: vwPC(46);
    margin-left: 0;
    padding: 0;
    font-size: vwPC(28);

    &__column {
      padding-top: vwPC(11);
      padding-bottom: vwPC(14);
    }
  }
}



/* プレゼント ----------*/
.present {
  padding-top: vw(18);
  padding-bottom: vw(16);
  background-color: #fffedd;

  &__container {
    padding-left: vw(21);
    padding-right: vw(19);
  }

  &__catch {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: vw(21);
    letter-spacing: vw(-2);
    color: #fa7da3;

    &::before,
    &::after {
      background-color: #fa7da3;
      content: "";
      height: vw(2);
      width: vw(27);
    }

    &::before {
      margin-right: vw(2);
      transform: rotate(60deg);
    }

    &::after {
      margin-left: vw(-4);
      transform: rotate(-60deg);
    }
  }

  &__sidebar {
    margin-top: vw(7);
    padding-right: vw(3);
    text-align: center;
    font-size: vw(10);
  }
}

.present-content {
  @include content-box;
  margin-top: vw(12);
  font-size: vw(21);
  line-height: 1;

  &__head {
    @include content-heading_01;
    padding-top: vw(2);
    padding-bottom: vw(8);
  }

  &__foot {
    @include content-body;
    padding-top: vw(6);
    padding-left: vw(11);
    padding-bottom: vw(12);
    text-align: center;
    font-size: vw(27);
    color: #fa7da3;

    &--big {
      font-size: vw(42);
      font-weight: 600;
    }
  }
}

@media (min-width: 768px) {
  .present {
    padding-top: vwPC(38);
    padding-bottom: vwPC(24);

    &__container {
      margin: 0 auto;
      padding-left: vwPC(3);
      padding-right: 0;
      width: vwPC(554);
    }

    &__catch {
      font-size: vwPC(34);
      letter-spacing: 0;

      &::before,
      &::after {
        height: vwPC(3.27);
        width: vwPC(44.2);
      }

      &::before {
        margin-right: vwPC(-2);
      }

      &::after {
        margin-left: vwPC(-10);
      }

    }

    &__sidebar {
      margin-top: vwPC(16);
      padding-right: vwPC(6);
      font-size: vwPC(14);
    }
  }

  .present-content {
    @include content-box_pc;
    margin-top: vwPC(17);
    line-height: 1;

    &__head {
      @include content-heading_01_pc;
      padding-top: vwPC(3);
      padding-right: vwPC(6);
      padding-bottom: vwPC(11);
      font-size: vwPC(32);
    }

    &__foot {
      @include content-body_pc;
      padding-top: vwPC(11);
      padding-left: vwPC(20);
      padding-bottom: vwPC(21);
      font-size: vwPC(43.67);

      &--big {
        font-size: vwPC(67.93);
        font-weight: 600;
      }
    }
  }
}



/* キャンペーン ----------*/
.campaign {
  padding-top: vw(12);
  padding-bottom: vw(12);

  &__container {
    padding: 0 vw(20);
  }

  &__heading {
    padding-left: vw(10);
    text-align: center;
    font-size: vw(21);
    font-weight: 600;
    letter-spacing: vw(2);
    color: #fa7da3;
  }
}

.campaign-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: vw(23);
  margin-top: vw(8);
  padding: vw(12) vw(33) vw(13) vw(68);
  width: vw(350);
  background-color: #49c43d;
  border-radius: vw(40);

  &:hover {
    cursor: pointer;
    background-color: #40e02f;
  }

  &__text {
    text-align: center;
    font-size: vw(21);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: vw(2);
  }

  &__icon {
    height: vw(19);
  }
}

@media (min-width: 768px) {
  .campaign {
    padding-top: vwPC(52);
    padding-bottom: vwPC(24);

    &--02 {
      padding-top: vwPC(50);
    }

    &__container {
      margin: 0 auto;
      padding: 0;
      width: vwPC(570);
    }

    &__heading {
      padding-left: vwPC(14);
      font-size: vwPC(34);
      letter-spacing: vwPC(3.5);
    }
  }

  .campaign-link {
    justify-content: end;
    column-gap: vwPC(34);
    margin-top: vwPC(14);
    padding: vwPC(18) vwPC(51) vwPC(23);
    width: vwPC(570.58);
    border-radius: vwPC(65.05);

    &__text {
      width: vwPC(360);
      font-size: vwPC(34);
      letter-spacing: vwPC(3.5);
    }

    &__icon {
      height: vwPC(31);
    }
  }
}


/* 無料体験 ----------*/
.trial {
  padding-top: vw(19);
  padding-bottom: vw(37);

  &__container {
    margin: 0 auto;
    padding: 0 vw(20);
  }

  &__heading {
    padding-top: vw(6);
    padding-bottom: vw(7);
    letter-spacing: vw(1.7);
    text-align: center;
    font-size: vw(17);
    font-weight: 600;
    color: #50bfff;
    border-top: #50bfff solid vw(1);
    border-bottom: #50bfff solid vw(1);
  }

  &__text {
    margin-top: vw(10);
    margin-left: vw(1);
    font-size: vw(14);
    line-height: 1.65;

    &--small {
      font-size: vw(11);
    }
  }
}

@media (min-width: 768px) {
  .trial {
    padding-top: vwPC(23);
    padding-bottom: vwPC(55);

    &__container {
      padding: 0;
      width: vwPC(570);
    }

    &__heading {
      padding-top: vwPC(10);
      padding-bottom: vwPC(12);
      font-size: vwPC(28);
      letter-spacing: vwPC(2.8);
      border-top: solid vwPC(2);
      border-bottom: solid vwPC(2);  
    }

    &__text {
      margin-top: vwPC(17);
      margin-left: 0;
      text-indent: vwPC(-2);
      font-size: vwPC(22.86);
      letter-spacing: vwPC(-.1);

      &--small {
        font-size: vwPC(17.96);
      }
    }
  }

}



/* ポイント ----------*/
.point {
  padding-top: vw(28);
  padding-bottom: vw(.1);
  margin-bottom: vw(11);
  background-color: #fdf0f5;

  &__container {
    margin: 0 auto;
    padding: 0 vw(20);
  }

  &__wrap {
    margin-top: vw(22);
  }

  &__content {
    @include content-box;
    margin-bottom: vw(31);

    &--02 {
      margin-bottom: vw(29);
    }
  }

  &__heading {
    @include content-heading_01;
    padding-top: vw(7);
    padding-bottom: vw(11);
    font-size: vw(18);
  }

  &__body {
    @include content-body;
    margin: 0 auto;
    padding-top: vw(15);
    padding-bottom: vw(17);
  }

  &__text {
    font-size: vw(14);
    padding: 0 vw(20);

    &--01 {
      letter-spacing: vw(-.6);
    }
  }
}

.point-block {
  display: flex;
  justify-content: center;
  column-gap: vw(22);
  margin-top: vw(12);

  &__inner {
    width: vw(143);
  }

  &__item {
    &--our {
      padding: vw(21) 0 vw(23) vw(4);
      text-align: center;
      border: #fa7da3 solid 1px;
    }

    &--other {
      padding: vw(27) 0 vw(29);
      text-align: center;
      font-size: vw(18);
      letter-spacing: vw(1.3);
      color: #433e3f;
      border: #666 solid 1px;
      background-color: #fdf0f5;
    }
  }

  &__image {
    width: vw(70);
  }

  &__description {
    margin-top: vw(4);
    text-align: center;
    font-size: vw(14);
    letter-spacing: vw(.1);
  }
}

.fullbody {
  margin-top: vw(18);
  margin-bottom: vw(43);
  text-align: center;

  &__heading {
    font-size: vw(23);
    font-weight: 600;
    color: #4d2c1c;
  }

  &__image {
    margin-top: vw(25);
    margin-left: vw(5);
    width: vw(313);
  }
}

.part {
  text-align: center;

  &__heading {
    font-size: vw(23);
    font-weight: 600;
    color: #4d2c1c;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: vw(12);
    row-gap: vw(19);
    margin-top: vw(25);
  }

  &__image {
    width: vw(100);
  }

  &__lead {
    margin-top: vw(4);
    text-align: center;
    font-size: vw(14);
    font-weight: 600;
    color: #fa7da3;
  }
}

@media (min-width: 768px) {
  .point {
    padding-top: vwPC(34);
    padding-bottom: vwPC(10);
    margin-bottom: 0;

    &__container {
      padding: 0;
      width: vwPC(780);
    }

    &__wrap {
      margin-top: vwPC(43);
    }

    &__content {
      @include content-box_pc;
      margin-bottom: vwPC(50);
    }

    &__heading {
      @include content-heading_01_pc;
      padding-top: vwPC(16);
      padding-bottom: vwPC(16);
      font-size: vwPC(28);
    }

    &__body {
      @include content-body_pc;
      padding-top: vwPC(23);
      padding-bottom: vwPC(33);
    }

    &__text {
      padding: 0 vwPC(40);
      font-size: vwPC(21);
      letter-spacing: vwPC(.1);

      &--01 {
        letter-spacing: vwPC(.2);
      }
    }
  }

  .point-block {
    column-gap: vwPC(40);
    margin-top: vwPC(25);
    margin-bottom: vwPC(3);

    &__inner {
      width: vwPC(232);
    }

    &__item {
      &--our {
        padding: vwPC(35) 0 vwPC(35) vwPC(5);
        text-align: center;
      }

      &--other {
        padding: vwPC(43) 0 vwPC(48) vwPC(5);
        font-size: vwPC(29.03);
        letter-spacing: 0;
      }
    }

    &__image {
      width: vwPC(115);
    }

    &__description {
      margin-top: vwPC(10);
      font-size: vwPC(21);
      letter-spacing: vwPC(.1);
    }
  }

  .fullbody {
    margin-top: vwPC(25);
    margin-bottom: vwPC(54);

    &__heading {
      font-size: vwPC(24);
      font-weight: 600;
    }

    &__image {
      margin-top: vwPC(20);
      margin-left: vwPC(27);
      width: vwPC(556);
    }
  }

  .part {
    &__heading {
      font-size: vwPC(24);
    }

    &__wrap {
      column-gap: vwPC(12);
      row-gap: vwPC(19);
      margin-top: vwPC(26);
    }

    &__image {
      width: vwPC(100);
    }

    &__lead {
      margin-top: vwPC(4);
      font-size: vwPC(14);
    }
  }
}



/* コース ----------*/
.course {
  padding-top: vw(32);
  padding-bottom: vw(21);

  &__container {
    padding: 0 vw(20);
  }
}

.course-content {
  @include content-box;
  margin-top: vw(24);
  text-align: center;

  &--02 {
    margin-top: vw(32);
  }

  &__heading {
    @include content-heading_02;
    padding-top: vw(8);
    padding-bottom: vw(10);
    font-size: vw(18);
  }

  &__body {
    @include content-body;
    padding-top: vw(13);
    padding-bottom: vw(19);
  }

  &__text {
    margin-bottom: vw(12);
    padding: 0 vw(20);
    text-align: justify;
    font-size: vw(14);
  }

  &__image {
    width: vw(310);
  }
}

@media (min-width: 768px) {
  .course {
    padding-top: vwPC(28);
    padding-bottom: vwPC(61);

    &__container {
      margin: 0 auto;
      padding: 0;
      width: vwPC(730);
    }

    &__body {
      display: flex;
      justify-content: space-between;
      margin-top: vwPC(38);
    }
  }

  .course-content {
    @include content-box_pc;
    margin-top: 0;
    width: vwPC(350);

    &--02 {
      margin-top: 0;
    }

    &__heading {
      @include content-heading_02_pc;
      padding-top: vwPC(8);
      padding-bottom: vwPC(8);
      font-size: vwPC(28);
    }

    &__body {
      @include content-body_pc;
      padding-top: vwPC(11);
      padding-bottom: vwPC(19);
    }

    &__text {
      margin-bottom: vwPC(13);
      padding: 0 vwPC(20);
      font-size: vwPC(18);

      &--02 {
        line-break: anywhere;
      }
    }

    &__image {
      width: vwPC(310);
    }
  }

}



/* 口コミ ----------*/
.customer {
  padding-top: vw(20);
  padding-bottom: vw(24);
  margin-bottom: vw(13);
  background-color: #fdf0f5;
}

.slider-item {
  margin-left: vw(7);
  margin-right: vw(7);
}

.customer-content {
  @include content-box;
  margin-top: vw(19);
  width: vw(311);
  text-align: center;

  &__heading {
    @include content-heading_01;
    padding-top: vw(8);
    padding-bottom: vw(10);
    font-size: vw(18);
  }

  &__body {
    @include content-body;
    display: flex;
    column-gap: vw(15);
    padding: vw(15) vw(20) vw(12);
  }

  &__avater {
    width: vw(86);
    flex-shrink: 0;
  }
}

.content-wrap {
  text-align: justify;

  &__lead {
    font-size: vw(16);
    letter-spacing: vw(.4);
    color: #fa7da3;
  }

  &__text {
    margin-top: vw(5);
    font-size: vw(14.01);
  }
}

.slick-dots {
  bottom: -38px;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #ffd2d2;
}

.slick-dots li.slick-active button:before {
  color: #fa7da3;
}

@media (min-width: 768px) {
  .customer {
    padding-top: vwPC(28);
    padding-bottom: vwPC(53);
    margin-bottom: 0;
  }

  .slider-item {
    margin-top: vwPC(15.5);
    margin-left: vwPC(7);
    margin-right: vwPC(7);
  }

  .customer-content {
    @include content-box_pc;
    margin-top: vwPC(19);
    width: vwPC(310);

    &__heading {
      @include content-heading_01_pc;
      padding-top: vwPC(8);
      padding-bottom: vwPC(10);
      font-size: vwPC(18.01);
    }

    &__body {
      @include content-body_pc;
      padding: vwPC(14) vwPC(22) vwPC(14) vwPC(17);
      column-gap: vwPC(15);
    }

    &__avater {
      width: vwPC(86);
      height: vwPC(113);
    }
  }

  .content-wrap {
    &__lead {
      margin-top: vwPC(1);
      font-size: vwPC(16);
      letter-spacing: vwPC(.4);
    }

    &__text {
      margin-top: vwPC(5);
      font-size: vwPC(14.01);
    }
  }

  .slick-slider {
    margin: 0 auto;
    width: vwPC(974) !important;
  }
}



/* フッター ----------*/
.footer {
  margin-top: vw(31);
  padding-top: vw(14);
  padding-bottom: vw(10);
  background-color: #fa7da3;
}

.footer-logo {
  margin: 0 auto;
  width: vw(72);
}

@media (min-width: 768px) {
  .footer {
    margin-top: vwPC(40);
    padding-top: vwPC(26);
    padding-bottom: vwPC(22);
  }

  .footer-logo {
    width: vwPC(145);
  }
}