@charset "UTF-8";


// 単位変換関数
// SP用ブラウザ幅連動
@function vw($px) {
  @return calc($px * 100vw / 390); // 390pxはカンプの幅を記述
}

// PC用ブラウザ幅連動
// ヘッダー・カバーなどブラウザ幅一杯のコンテンツ用
@function vwPC($px) {
  @return calc($px * 100vw / 1440); // 1536pxはカンプの幅を記述
}

@function px2Rem($px) {
  @return calc($px / 16) * 1rem;
}

// 下記でmin/max関数をScssの関数ではなくcssの関数として出力するためのラッパー
@function min($values...) {
  @return unquote('min(#{$values})');
}

@function max($values...) {
  @return unquote('max(#{$values})');
}

// PC用途中までブラウザ幅連動。$pxより大きくなったら$pxにする関数
// マイナスの値も対応。
@function mvw($px) {
  // 1200pxはカンプ幅ではなくコンテンツ幅(コンテンツ左右のガイド線間の幅 + 少し余白)
  $value1: calc($px * 100vw / 960);
  $value2: px2Rem($px);

  @if $px >=0 {
    @return min($value1, $value2);
  }

  @else {
    @return max($value1, $value2);
  }
}


/* ページ全体のスタイル ----------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}


/* 部品 */
.container {
  margin: 0 vw(20);
}

@media (min-width:768px) {
  .container {
      max-width: vw(960);
      margin: 0 auto;
  }
}


/* ヘッダー ----------*/
.header{
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #fff
}

.header-block{
  display: flex;

}


/* メインビジュアル ----------*/
.cover{
  background-image: url(/assets/image/cover/mv_01_sp.jpg);
}


/* プレゼント ----------*/
.present{
  background-color: #fffedd;
}


/* キャンペーン ----------*/



/* 無料体験 ----------*/



/* ポイント ----------*/
.point{
  background-color: #fdf0f5;
}


/* コース ----------*/



/* 口コミ ----------*/
.customer{
  background-color: #fdf0f5;
}


/* フッター ----------*/
.footer{
  background-color: #fa7da3;
}