@charset "UTF-8";


// 単位変換関数
@function vw($px) {
  @return calc($px * 100vw / 390);
}

@function vwPC($px) {
  @return calc($px * 100vw / 1440);
}

@function px2Rem($px) {
  @return calc($px / 16) * 1rem;
}

@function min($values...) {
  @return unquote('min(#{$values})');
}

@function max($values...) {
  @return unquote('max(#{$values})');
}

@function mvw($px) {
  $value1: calc($px * 100vw / 1040);
  $value2: px2Rem($px);

  @if $px >=0 {
    @return min($value1, $value2);
  }

  @else {
    @return max($value1, $value2);
  }
}

// rem自動計算
@function rm($px) {
  @return calc($px / 16) * 1rem;
}


/* ページ全体のスタイル ----------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}


/* 部品 */
@mixin button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin content-box {
  border: #fa7da3 solid 1px;
  border-radius: rm(10);
}

@mixin content-heading_01 {
  text-align: center;
  color: #fff;
  background-color: #fa7da3;
  border-radius: rm(8) rm(8) 0 0;
}

@mixin content-heading_02 {
  text-align: center;
  color: #fa7da3;
  background-color: #fdf0f5;
  border-radius: rm(8) rm(8) 0 0;
}

@mixin content-body {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 rm(8) rm(8);
}

@mixin br {
  display: inline-block;
}

@mixin brown {
  color: #4d2b1b;
}

.section-title {
  text-align: center;

  &__head {
    font-size: rm(18);

    &--brown {
      @include brown;
    }
  }

  &__logo-image {
    vertical-align: super;
  }

  &__heading {
    display: flex;
    justify-content: center;
    margin-top: rm(4);
    font-size: rm(32);
    font-weight: 700;
    letter-spacing: rm(1.4);
    color: #fa7da3;
  }

  &__image {
    height: rm(46);
  }
}



/* ヘッダー ----------*/
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: rm(60);
  padding: 0 rm(9);
  background-color: #fff;
  z-index: 100;
}

.header-logo {
  width: 19.5%;
  margin-left: rm(3);
  padding-bottom: rm(7);
}

.header-block {
  display: flex;
  justify-content: space-between;
  column-gap: rm(10);
  height: rm(31);
  font-size: rm(12);

  &__button {

    &--contact {
      @include button;
      width: rm(107);
      padding-left: rm(10);
      padding-right: rm(9);
      letter-spacing: rm(0.7);
      border-radius: rm(15.5);
      background-color: #fa7da3;
    }

    &--reserve {
      @include button;
      width: rm(173.77);
      padding: 0 rm(10);
      letter-spacing: rm(0.6);
      border-radius: rm(15.5);
      background-color: #49c43d
    }

    &--small {
      font-size: rm(10);
    }
  }

  &__image {
    height: rm(10);
  }
}


/* メインビジュアル ----------*/
.cover {
  background-color: #fa7da3;

  &__container {
    position: relative;
    margin: 0 auto;
    padding-top: rm(60);
    padding-bottom: rm(30);
    max-width: 550px;
  }

  &__image {
    position: absolute;
    left: rm(4);
    bottom: 0;
    width: 53.6%;
    max-width: 209px;
  }

  &__body {
    margin-left: auto;
    width: 50%;
  }
}

.catch {
  position: absolute;
  top: rm(82);
  left: rm(19);

  &__lead {
    margin-top: rm(4);
    text-align: center;
    font-size: rm(18);
    color: #fff;
  }
}

@mixin cover-big {
  font-size: rm(76);
}

@mixin cover-value {
  font-family: "Outfit", sans-serif;
  font-size: rm(14);
}


.price {
  margin-left: rm(8);
  margin-bottom: rm(21);

  &__body {
    display: flex;
    justify-content: center;
    column-gap: rm(10);
    margin: 0 auto;
    padding-top: rm(20);
    padding-bottom: rm(21);
    background-color: rgba($color: #fff, $alpha: 0.3);
    box-shadow: rgba($color: #000, $alpha: 0.25) 5px;
  }

  &__inner-left {
    margin-top: rm(2);
    margin-left: rm(4);
  }

  &__head {
    display: inline;
    padding: rm(1) rm(3) rm(3) rm(5);
    font-size: rm(13);
    font-weight: 700;
    color: #fa7da3;
    background-color: #fff;
  }

  &__foot {
    margin-top: rm(4);
    margin-left: rm(1);
    font-size: rm(24);
    font-weight: 700;
    color: #fff;
  }

  &__inner-right {
    margin-top: rm(1);
    line-height: 0.7;
    font-size: rm(36);
    font-weight: 700;
    color: #fffd7a;

    &--big {
      @include cover-big;
    }
  }

  &__sidebar {
    margin-top: rm(6);
    margin-right: rm(25);
    text-align: right;
    font-size: rm(9);
    color: #fff;

    &--value {
      @include cover-value;
    }
  }
}

.feature {
  display: flex;
  flex-direction: column;
  row-gap: rm(12);
  margin-left: rm(10);
  padding: 0 rm(26);
  font-size: rm(18);
  color: #fff;

  &__column {
    padding-top: rm(2);
    padding-bottom: rm(4);
    text-align: center;
    border: #fff solid 1px;
  }
}



/* プレゼント ----------*/
.present {
  padding-top: rm(18);
  padding-bottom: rm(16);
  background-color: #fffedd;

  &__container {
    margin: 0 auto;
    padding-left: rm(21);
    padding-right: rm(19);
    max-width: 500px;
  }

  &__catch {
    text-align: center;
    font-size: rm(21);
    color: #fa7da3;
  }

  &__sidebar {
    margin-top: rm(7);
    padding-right: rm(3);
    text-align: center;
    font-size: rm(10);
  }
}

@mixin present-big {
  font-size: rm(42);
  font-weight: 600;
}

.present-content {
  @include content-box;
  margin-top: rm(12);
  font-size: rm(21);
  line-height: 1;

  &__head {
    @include content-heading_01;
    padding-top: rm(2);
    padding-bottom: rm(8);
  }

  &__foot {
    @include content-body;
    padding-top: rm(6);
    padding-left: rm(11);
    padding-bottom: rm(12);
    text-align: center;
    font-size: rm(27);
    color: #fa7da3;

    &--big {
      @include present-big;
    }
  }
}



/* キャンペーン ----------*/
.campaign {
  padding-top: rm(12);
  padding-bottom: rm(12);

  &__container {
    margin: 0 auto;
    padding: 0 rm(20);
  }

  &__heading {
    padding-left: rm(10);
    text-align: center;
    font-size: rm(21);
    font-weight: 600;
    letter-spacing: rm(2);
    color: #fa7da3;
  }
}

.campaign-link {
  @include button;
  column-gap: rm(23);
  margin-top: rm(8);
  padding: rm(12) rm(33) rm(13) rm(68);
  width: rm(350);
  background-color: #49c43d;
  border-radius: rm(40);

  &__text {
    text-align: center;
    font-size: rm(21);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: rm(2);
  }

  &__icon {
    height: rm(19);
  }
}


/* 無料体験 ----------*/
@mixin trial-small {
  font-size: rm(11);
}

.trial {
  padding-top: rm(19);
  padding-bottom: rm(37);

  &__container {
    margin: 0 auto;
    padding: 0 rm(20);
  }

  &__heading {
    padding-top: rm(6);
    padding-bottom: rm(7);
    letter-spacing: rm(1.7);
    text-align: center;
    font-size: rm(17);
    font-weight: 600;
    color: #50bfff;
    border-top: #50bfff solid 1px;
    border-bottom: #50bfff solid 1px;
  }

  &__text {
    margin-top: rm(10);
    margin-left: rm(1);
    font-size: rm(14);
    line-height: 1.65;

    &--small {
      @include trial-small;
    }
  }
}



/* ポイント ----------*/
@mixin wide {
  padding: rm(14) rm(16) rm(17) rm(20);
  letter-spacing: 0;
}

.point {
  padding-top: rm(28);
  background-color: #fdf0f5;

  &__container {
    margin: 0 auto;
    padding: 0 rm(20);
  }

  &__wrap {
    margin-top: rm(22);
  }

  &__content {
    @include content-box;
    margin-bottom: rm(32)
  }

  &__heading {
    @include content-heading_01;
    padding-top: rm(7);
    padding-bottom: rm(11);
    font-size: rm(18);
  }

  &__body {
    @include content-body;
    padding: rm(14) rm(20) rm(17);
    letter-spacing: rm(-.6);

    &--wide {
      @include content-body;
      @include wide;
    }
  }

  &__text {
    font-size: rm(14);
  }
}

.point-block {
  display: flex;
  justify-content: space-between;
  margin-top: rm(12);

  &__inner {
    width: rm(143);
  }

  &__item {
    &--our {
      padding: rm(21) 0 rm(23) rm(4);
      text-align: center;
      border: #fa7da3 solid 1px;
    }

    &--other {
      padding: rm(27) 0 rm(29);
      text-align: center;
      font-size: rm(18);
      letter-spacing: rm(1.3);
      color: #433e3f;
      border: #666 solid 1px;
      background-color: #fdf0f5;
    }
  }

  &__image {
    width: 52%;
  }

  &__description {
    margin-top: rm(4);
    text-align: center;
    font-size: rm(14);
    letter-spacing: rm(.1);
  }
}

.fullbody {
  margin-bottom: rm(50);

  &__image {
    margin-top: rm(27);
  }
}



/* コース ----------*/



/* 口コミ ----------*/
.customer {
  background-color: #fdf0f5;
}


/* フッター ----------*/
.footer {
  background-color: #fa7da3;
}