@charset "UTF-8";
/* ページ全体のスタイル ----------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 部品 */
.section-title {
  text-align: center;
}
.section-title--point__head {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.2820512821vw;
       column-gap: 1.2820512821vw;
}
.section-title__head {
  font-size: 4.6153846154vw;
  font-weight: 400;
}
.section-title__head--brown {
  margin-top: 1.0256410256vw;
  font-weight: 500;
  color: #4d2b1b;
}
.section-title__head--course {
  margin-left: 1.2820512821vw;
}
.section-title__logo-image {
  vertical-align: super;
}
.section-title__heading {
  display: flex;
  justify-content: center;
  margin-top: 1.5384615385vw;
  font-size: 8.2051282051vw;
  font-weight: 700;
  letter-spacing: 0.358974359vw;
  color: #fa7da3;
}
.section-title__heading--course {
  -moz-column-gap: 2.0512820513vw;
       column-gap: 2.0512820513vw;
  margin-top: 1.0256410256vw;
  letter-spacing: 0px;
}
.section-title__heading--customer {
  -moz-column-gap: 3.5897435897vw;
       column-gap: 3.5897435897vw;
}
.section-title__image {
  height: 11.7948717949vw;
  margin-top: 0.5128205128vw;
}

/* ヘッダー ----------*/
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15.3846153846vw;
  padding: 0 2.3076923077vw;
  background-color: #fff;
  z-index: 100;
}

.header-logo {
  width: 19.5%;
  margin-left: 0.7692307692vw;
  padding-bottom: 1.7948717949vw;
}

.header-block {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 2.5641025641vw;
       column-gap: 2.5641025641vw;
  height: 7.9487179487vw;
  font-size: 3.0769230769vw;
}
.header-block__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-block__button--contact {
  width: 27.4358974359vw;
  padding-left: 2.5641025641vw;
  padding-right: 2.3076923077vw;
  letter-spacing: 0.1794871795vw;
  border-radius: 3.9743589744vw;
  background-color: #fa7da3;
}
.header-block__button--reserve {
  width: 44.5564102564vw;
  padding: 0 2.5641025641vw;
  letter-spacing: 0.1538461538vw;
  border-radius: 3.9743589744vw;
  background-color: #49c43d;
}
.header-block__button--small {
  font-size: 2.5641025641vw;
}
.header-block__image {
  height: 2.5641025641vw;
}

/* メインビジュアル ----------*/
.cover {
  background-color: #fa7da3;
}
.cover__container {
  position: relative;
  margin: 0 auto;
  padding-top: 15.3846153846vw;
  padding-bottom: 7.6923076923vw;
}
.cover__image {
  position: absolute;
  left: 1.0256410256vw;
  bottom: 0;
  width: 53.6%;
}
.cover__body {
  margin-left: auto;
  width: 50%;
}

.catch {
  position: absolute;
  top: 21.0256410256vw;
  left: 4.8717948718vw;
}
.catch__heading {
  width: 42.5641025641vw;
}
.catch__lead {
  margin-top: 1.0256410256vw;
  text-align: center;
  font-size: 4.6153846154vw;
  color: #fff;
}

.price {
  margin-left: 2.0512820513vw;
  margin-bottom: 5.3846153846vw;
}
.price__body {
  display: flex;
  justify-content: center;
  -moz-column-gap: 2.5641025641vw;
       column-gap: 2.5641025641vw;
  margin: 0 auto;
  padding-top: 5.1282051282vw;
  padding-bottom: 5.3846153846vw;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.25) 5px;
}
.price__inner-left {
  margin-top: 0.5128205128vw;
  margin-left: 1.0256410256vw;
}
.price__head {
  display: inline;
  padding: 0.2564102564vw 0.7692307692vw 0.7692307692vw 1.2820512821vw;
  font-size: 3.3333333333vw;
  font-weight: 700;
  color: #fa7da3;
  background-color: #fff;
}
.price__foot {
  margin-top: 1.0256410256vw;
  margin-left: 0.2564102564vw;
  font-size: 6.1538461538vw;
  font-weight: 700;
  color: #fff;
}
.price__inner-right {
  margin-top: 0.2564102564vw;
  line-height: 0.7;
  font-size: 9.2307692308vw;
  font-weight: 700;
  color: #fffd7a;
}
.price__inner-right--big {
  font-size: 19.4871794872vw;
}
.price__sidebar {
  margin-top: 1.5384615385vw;
  margin-right: 6.4102564103vw;
  text-align: right;
  font-size: 2.3076923077vw;
  color: #fff;
}
.price__sidebar--value {
  font-family: "Outfit", sans-serif;
  font-size: 3.5897435897vw;
}

.feature {
  display: flex;
  flex-direction: column;
  row-gap: 3.0769230769vw;
  margin-left: 2.5641025641vw;
  padding: 0 6.6666666667vw;
  font-size: 4.6153846154vw;
  color: #fff;
}
.feature__column {
  padding-top: 0.5128205128vw;
  padding-bottom: 1.0256410256vw;
  text-align: center;
  border: #fff solid 1px;
}

/* プレゼント ----------*/
.present {
  padding-top: 4.6153846154vw;
  padding-bottom: 4.1025641026vw;
  background-color: #fffedd;
}
.present__container {
  margin: 0 auto;
  padding-left: 5.3846153846vw;
  padding-right: 4.8717948718vw;
}
.present__catch {
  text-align: center;
  font-size: 5.3846153846vw;
  color: #fa7da3;
}
.present__sidebar {
  margin-top: 1.7948717949vw;
  padding-right: 0.7692307692vw;
  text-align: center;
  font-size: 2.5641025641vw;
}

.present-content {
  border: #fa7da3 solid 1px;
  border-radius: 2.5641025641vw;
  margin-top: 3.0769230769vw;
  font-size: 5.3846153846vw;
  line-height: 1;
}
.present-content__head {
  text-align: center;
  color: #fff;
  background-color: #fa7da3;
  border-radius: 2.0512820513vw 2.0512820513vw 0 0;
  padding-top: 0.5128205128vw;
  padding-bottom: 2.0512820513vw;
}
.present-content__foot {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 2.0512820513vw 2.0512820513vw;
  padding-top: 1.5384615385vw;
  padding-left: 2.8205128205vw;
  padding-bottom: 3.0769230769vw;
  text-align: center;
  font-size: 6.9230769231vw;
  color: #fa7da3;
}
.present-content__foot--big {
  font-size: 10.7692307692vw;
  font-weight: 600;
}

/* キャンペーン ----------*/
.campaign {
  padding-top: 3.0769230769vw;
  padding-bottom: 3.0769230769vw;
}
.campaign__container {
  margin: 0 auto;
  padding: 0 5.1282051282vw;
}
.campaign__heading {
  padding-left: 2.5641025641vw;
  text-align: center;
  font-size: 5.3846153846vw;
  font-weight: 600;
  letter-spacing: 0.5128205128vw;
  color: #fa7da3;
}

.campaign-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 5.8974358974vw;
       column-gap: 5.8974358974vw;
  margin-top: 2.0512820513vw;
  padding: 3.0769230769vw 8.4615384615vw 3.3333333333vw 17.4358974359vw;
  width: 89.7435897436vw;
  background-color: #49c43d;
  border-radius: 10.2564102564vw;
}
.campaign-link__text {
  text-align: center;
  font-size: 5.3846153846vw;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.5128205128vw;
}
.campaign-link__icon {
  height: 4.8717948718vw;
}

/* 無料体験 ----------*/
.trial {
  padding-top: 4.8717948718vw;
  padding-bottom: 9.4871794872vw;
}
.trial__container {
  margin: 0 auto;
  padding: 0 5.1282051282vw;
}
.trial__heading {
  padding-top: 1.5384615385vw;
  padding-bottom: 1.7948717949vw;
  letter-spacing: 0.4358974359vw;
  text-align: center;
  font-size: 4.358974359vw;
  font-weight: 600;
  color: #50bfff;
  border-top: #50bfff solid 1px;
  border-bottom: #50bfff solid 1px;
}
.trial__text {
  margin-top: 2.5641025641vw;
  margin-left: 0.2564102564vw;
  font-size: 3.5897435897vw;
  line-height: 1.65;
}
.trial__text--small {
  font-size: 2.8205128205vw;
}

/* ポイント ----------*/
.point {
  padding-top: 7.1794871795vw;
  padding-bottom: 0.0256410256vw;
  margin-bottom: 2.8205128205vw;
  background-color: #fdf0f5;
}
.point__container {
  margin: 0 auto;
  padding: 0 5.1282051282vw;
}
.point__wrap {
  margin-top: 5.641025641vw;
}
.point__content {
  border: #fa7da3 solid 1px;
  border-radius: 2.5641025641vw;
  margin-bottom: 7.9487179487vw;
}
.point__content--02 {
  margin-bottom: 7.4358974359vw;
}
.point__heading {
  text-align: center;
  color: #fff;
  background-color: #fa7da3;
  border-radius: 2.0512820513vw 2.0512820513vw 0 0;
  padding-top: 1.7948717949vw;
  padding-bottom: 2.8205128205vw;
  font-size: 4.6153846154vw;
}
.point__body {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 2.0512820513vw 2.0512820513vw;
  margin: 0 auto;
  padding-top: 3.8461538462vw;
  padding-bottom: 4.358974359vw;
}
.point__text {
  font-size: 3.5897435897vw;
  padding: 0 5.1282051282vw;
}
.point__text--01 {
  letter-spacing: -0.1538461538vw;
}

.point-block {
  display: flex;
  justify-content: center;
  -moz-column-gap: 5.641025641vw;
       column-gap: 5.641025641vw;
  margin-top: 3.0769230769vw;
}
.point-block__inner {
  width: 36.6666666667vw;
}
.point-block__item--our {
  padding: 5.3846153846vw 0 5.8974358974vw 1.0256410256vw;
  text-align: center;
  border: #fa7da3 solid 1px;
}
.point-block__item--other {
  padding: 6.9230769231vw 0 7.4358974359vw;
  text-align: center;
  font-size: 4.6153846154vw;
  letter-spacing: 0.3333333333vw;
  color: #433e3f;
  border: #666 solid 1px;
  background-color: #fdf0f5;
}
.point-block__image {
  width: 52%;
}
.point-block__description {
  margin-top: 1.0256410256vw;
  text-align: center;
  font-size: 3.5897435897vw;
  letter-spacing: 0.0256410256vw;
}

.fullbody {
  margin-top: 4.6153846154vw;
  margin-bottom: 11.0256410256vw;
  text-align: center;
}
.fullbody__heading {
  font-size: 5.8974358974vw;
  font-weight: 600;
  color: #4d2c1c;
}
.fullbody__image {
  margin-top: 6.4102564103vw;
  margin-left: 1.2820512821vw;
  width: 89.7%;
}

.part {
  text-align: center;
}
.part__heading {
  font-size: 5.8974358974vw;
  font-weight: 600;
  color: #4d2c1c;
}
.part__wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 3.0769230769vw;
       column-gap: 3.0769230769vw;
  row-gap: 4.8717948718vw;
  margin-top: 6.4102564103vw;
}
.part__image {
  width: 25.641025641vw;
}
.part__lead {
  margin-top: 1.0256410256vw;
  text-align: center;
  font-size: 3.5897435897vw;
  font-weight: 600;
  color: #fa7da3;
}

/* コース ----------*/
.course {
  padding-top: 8.2051282051vw;
  padding-bottom: 5.3846153846vw;
}
.course__container {
  margin: 0 auto;
  padding: 0 5.1282051282vw;
}

.course-content {
  border: #fa7da3 solid 1px;
  border-radius: 2.5641025641vw;
  margin-top: 6.1538461538vw;
  text-align: center;
}
.course-content--02 {
  margin-top: 8.2051282051vw;
}
.course-content__heading {
  text-align: center;
  color: #fa7da3;
  background-color: #fdf0f5;
  border-radius: 2.0512820513vw 2.0512820513vw 0 0;
  padding-top: 2.0512820513vw;
  padding-bottom: 2.5641025641vw;
  font-size: 4.6153846154vw;
}
.course-content__body {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 2.0512820513vw 2.0512820513vw;
  padding-top: 3.3333333333vw;
  padding-bottom: 4.8717948718vw;
}
.course-content__text {
  margin-bottom: 3.0769230769vw;
  padding: 0 5.1282051282vw;
  text-align: justify;
  font-size: 3.5897435897vw;
}
.course-content__image {
  width: 79.4871794872vw;
}

/* 口コミ ----------*/
.customer {
  padding-top: 5.1282051282vw;
  padding-bottom: 6.1538461538vw;
  margin-bottom: 3.3333333333vw;
  background-color: #fdf0f5;
}

.slider-item {
  margin-left: 1.7948717949vw;
  margin-right: 1.7948717949vw;
}

.customer-content {
  border: #fa7da3 solid 1px;
  border-radius: 2.5641025641vw;
  margin-top: 4.8717948718vw;
  width: 79.7435897436vw;
  text-align: center;
}
.customer-content__heading {
  text-align: center;
  color: #fff;
  background-color: #fa7da3;
  border-radius: 2.0512820513vw 2.0512820513vw 0 0;
  padding-top: 2.0512820513vw;
  padding-bottom: 2.5641025641vw;
  font-size: 4.6153846154vw;
}
.customer-content__body {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 2.0512820513vw 2.0512820513vw;
  display: flex;
  -moz-column-gap: 3.8461538462vw;
       column-gap: 3.8461538462vw;
  padding: 3.8461538462vw 5.1282051282vw 3.0769230769vw;
}
.customer-content__avater {
  width: 22.0512820513vw;
}

.content-wrap {
  text-align: justify;
}
.content-wrap__lead {
  color: #fa7da3;
}
.content-wrap__text {
  margin-top: 1.2820512821vw;
  font-size: 3.5923076923vw;
}

.slick-dots {
  bottom: -9.7435897436vw;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #ffd2d2;
}

.slick-dots li.slick-active button:before {
  color: #fa7da3;
}

/* フッター ----------*/
.footer {
  margin-top: 7.9487179487vw;
  padding-top: 3.5897435897vw;
  padding-bottom: 2.5641025641vw;
  background-color: #fa7da3;
}

.footer-logo {
  margin: 0 auto;
  width: 18.4615384615vw;
}/*# sourceMappingURL=main.css.map */