@charset "UTF-8";
/* ページ全体のスタイル ----------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 部品 */
.section-title {
  text-align: center;
}
.section-title--point__head {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.2820512821vw;
       column-gap: 1.2820512821vw;
}
.section-title__head {
  font-size: 4.6153846154vw;
  font-weight: 400;
}
.section-title__head--brown {
  margin-top: 1.0256410256vw;
  font-weight: 500;
  color: #4d2b1b;
}
.section-title__head--course {
  margin-left: 1.2820512821vw;
}
.section-title__logo-image {
  width: 50.7692307692vw;
}
.section-title__heading {
  display: flex;
  justify-content: center;
  margin-top: 1.5384615385vw;
  font-size: 8.2051282051vw;
  font-weight: 700;
  letter-spacing: 0.358974359vw;
  color: #fa7da3;
}
.section-title__heading--course {
  -moz-column-gap: 2.0512820513vw;
       column-gap: 2.0512820513vw;
  margin-top: 1.0256410256vw;
  letter-spacing: 0px;
}
.section-title__heading--customer {
  -moz-column-gap: 3.5897435897vw;
       column-gap: 3.5897435897vw;
}
.section-title__image {
  height: 11.7948717949vw;
  margin-top: 0.5128205128vw;
}

@media (min-width: 768px) {
  .section-title--point__head {
    -moz-column-gap: 0.4166666667vw;
         column-gap: 0.4166666667vw;
    margin-left: 0.1388888889vw;
  }
  .section-title__head {
    font-size: 1.9444444444vw;
  }
  .section-title__head--brown {
    font-size: 1.2548611111vw;
  }
  .section-title__head--course {
    margin-left: 0.4166666667vw;
    font-size: 1.6666666667vw;
  }
  .section-title__logo-image {
    padding-bottom: 0.2777777778vw;
    width: 18.1944444444vw;
  }
  .section-title__heading {
    -moz-column-gap: 0.4166666667vw;
         column-gap: 0.4166666667vw;
    margin-top: 0.6944444444vw;
    font-size: 2.9166666667vw;
    letter-spacing: 0;
  }
  .section-title__heading--course {
    -moz-column-gap: 0.9027777778vw;
         column-gap: 0.9027777778vw;
    margin-top: 0.4861111111vw;
  }
  .section-title__heading--customer {
    -moz-column-gap: 1.6666666667vw;
         column-gap: 1.6666666667vw;
  }
  .section-title__image {
    height: 4.2423611111vw;
    margin-top: 0.1388888889vw;
  }
}
/* ヘッダー ----------*/
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15.3846153846vw;
  padding: 0 2.3076923077vw;
  background-color: #fff;
  z-index: 100;
}

.header-logo__image {
  position: absolute;
  top: 2.5641025641vw;
  left: 3.0769230769vw;
  width: 18.4615384615vw;
}

.header-block {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 2.5641025641vw;
       column-gap: 2.5641025641vw;
  height: 7.9487179487vw;
  font-size: 3.0769230769vw;
}
.header-block__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-block__button--contact {
  width: 27.4358974359vw;
  padding-left: 2.5641025641vw;
  padding-right: 2.3076923077vw;
  letter-spacing: 0.1794871795vw;
  border-radius: 3.9743589744vw;
  background-color: #fa7da3;
}
.header-block__button--reserve {
  width: 44.5564102564vw;
  padding: 0 2.5641025641vw;
  letter-spacing: 0.1538461538vw;
  border-radius: 3.9743589744vw;
  background-color: #49c43d;
}
.header-block__button--small {
  font-size: 2.5641025641vw;
}
.header-block__image {
  height: 2.5641025641vw;
}

@media (min-width: 768px) {
  .header {
    padding: 0 14.4444444444vw;
    height: 6.3888888889vw;
  }
  .header-logo__image {
    top: 1.25vw;
    left: 14.4444444444vw;
    width: 6.7361111111vw;
  }
  .header-block {
    -moz-column-gap: 1.3888888889vw;
         column-gap: 1.3888888889vw;
    height: 3.4972222222vw;
    font-size: 1.4666666667vw;
  }
  .header-block__button--contact {
    width: 13.1319444444vw;
    padding-left: 1.6666666667vw;
    padding-right: 1.1805555556vw;
    letter-spacing: 0;
    border-radius: 1.7486111111vw;
  }
  .header-block__button--reserve {
    width: 20.5201388889vw;
    padding-left: 1.6666666667vw;
    padding-right: 1.1111111111vw;
    letter-spacing: -0.0138888889vw;
    border-radius: 1.7486111111vw;
  }
  .header-block__button--small {
    font-size: 1.2409722222vw;
  }
  .header-block__image {
    height: 1.1111111111vw;
  }
}
/* メインビジュアル ----------*/
.cover {
  background-color: #fa7da3;
}
.cover__container {
  position: relative;
  margin: 0 auto;
  padding-top: 15.3846153846vw;
  padding-bottom: 7.6923076923vw;
}
.cover__image {
  position: absolute;
  left: 1.0256410256vw;
  bottom: 0;
  width: 53.3333333333vw;
}
.cover__body {
  margin-left: auto;
  width: 50%;
}

.catch {
  position: absolute;
  top: 21.0256410256vw;
  left: 4.8717948718vw;
}
.catch__heading {
  width: 42.5641025641vw;
}
.catch__lead {
  margin-top: 1.0256410256vw;
  text-align: center;
  font-size: 4.6153846154vw;
  color: #fff;
}

.price {
  margin-left: 2.0512820513vw;
  margin-bottom: 5.3846153846vw;
}
.price__body {
  display: flex;
  justify-content: center;
  -moz-column-gap: 2.5641025641vw;
       column-gap: 2.5641025641vw;
  margin: 0 auto;
  padding-top: 5.1282051282vw;
  padding-bottom: 5.3846153846vw;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: #e77497 1.0256410256vw 1.0256410256vw 0 0;
}
.price__inner-left {
  margin-top: 0.5128205128vw;
  margin-left: 1.0256410256vw;
}
.price__head {
  display: inline;
  padding: 0.2564102564vw 0.7692307692vw 0.7692307692vw 1.2820512821vw;
  font-size: 3.3333333333vw;
  font-weight: 700;
  color: #fa7da3;
  background-color: #fff;
}
.price__foot {
  margin-top: 1.0256410256vw;
  margin-left: 0.2564102564vw;
  font-size: 6.1538461538vw;
  font-weight: 700;
  color: #fff;
}
.price__inner-right {
  margin-top: 0.2564102564vw;
  line-height: 0.7;
  font-size: 9.2307692308vw;
  font-weight: 700;
  color: #fffd7a;
}
.price__inner-right--big {
  font-size: 19.4871794872vw;
}
.price__sidebar {
  margin-top: 1.5384615385vw;
  margin-right: 6.4102564103vw;
  text-align: right;
  font-size: 2.3076923077vw;
  color: #fff;
}
.price__sidebar--value {
  font-family: "Outfit", sans-serif;
  font-size: 3.5897435897vw;
}

.feature {
  display: flex;
  flex-direction: column;
  row-gap: 3.0769230769vw;
  margin-left: 2.5641025641vw;
  padding: 0 6.6666666667vw;
  font-size: 4.6153846154vw;
  color: #fff;
}
.feature__column {
  padding-top: 0.5128205128vw;
  padding-bottom: 1.0256410256vw;
  text-align: center;
  border: #fff solid 1px;
}

@media (min-width: 768px) {
  .cover__container {
    padding-top: 6.3888888889vw;
    padding-bottom: 3.8194444444vw;
    max-width: 69.4444444444vw;
  }
  .cover__image {
    left: -1.0416666667vw;
    width: 33.75vw;
  }
  .cover__body {
    padding-right: 1.0416666667vw;
    width: 43.8%;
  }
  .catch {
    top: 6.3194444444vw;
    left: 0.2083333333vw;
    z-index: 1;
  }
  .catch__heading {
    width: 37.7777777778vw;
  }
  .catch__lead {
    margin-top: -0.9722222222vw;
    margin-right: -0.2777777778vw;
    text-align: end;
    font-size: 2.5vw;
    line-height: 1;
  }
  .price {
    margin-left: 0;
    margin-bottom: 1.4583333333vw;
  }
  .price__body {
    justify-content: space-between;
    -moz-column-gap: unset;
         column-gap: unset;
    padding: 2.7083333333vw 3.6111111111vw 2.7083333333vw 4.0277777778vw;
    box-shadow: #e77497 0.2777777778vw 0.2777777778vw 0 0;
  }
  .price__inner-left {
    margin-left: 0;
  }
  .price__head {
    padding: 0.2083333333vw 0.625vw 0.4166666667vw 0.5555555556vw;
    font-size: 2.03125vw;
  }
  .price__foot {
    margin-top: 0.8333333333vw;
    margin-left: 0.1388888889vw;
    font-size: 3.75vw;
  }
  .price__inner-right {
    margin-top: 0;
    font-size: 5.625vw;
    line-height: 0.65;
  }
  .price__inner-right--big {
    font-size: 11.875vw;
  }
  .price__sidebar {
    margin-top: 0.1388888889vw;
    margin-right: 4.3055555556vw;
    font-size: 1.1819444444vw;
  }
  .price__sidebar--value {
    font-family: "Outfit", sans-serif;
    font-size: 1.8388888889vw;
  }
  .feature {
    row-gap: 1.3888888889vw;
    margin-top: 3.1944444444vw;
    margin-left: 0;
    padding: 0;
    font-size: 1.9444444444vw;
  }
  .feature__column {
    padding-top: 0.7638888889vw;
    padding-bottom: 0.9722222222vw;
  }
}
/* プレゼント ----------*/
.present {
  padding-top: 4.6153846154vw;
  padding-bottom: 4.1025641026vw;
  background-color: #fffedd;
}
.present__container {
  padding-left: 5.3846153846vw;
  padding-right: 4.8717948718vw;
}
.present__catch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.3846153846vw;
  letter-spacing: -0.5128205128vw;
  color: #fa7da3;
}
.present__catch::before, .present__catch::after {
  background-color: #fa7da3;
  content: "";
  height: 0.5128205128vw;
  width: 6.9230769231vw;
}
.present__catch::before {
  margin-right: 0.5128205128vw;
  transform: rotate(60deg);
}
.present__catch::after {
  margin-left: -1.0256410256vw;
  transform: rotate(-60deg);
}
.present__sidebar {
  margin-top: 1.7948717949vw;
  padding-right: 0.7692307692vw;
  text-align: center;
  font-size: 2.5641025641vw;
}

.present-content {
  border: #fa7da3 solid 1px;
  border-radius: 2.5641025641vw;
  margin-top: 3.0769230769vw;
  font-size: 5.3846153846vw;
  line-height: 1;
}
.present-content__head {
  text-align: center;
  color: #fff;
  background-color: #fa7da3;
  border-radius: 2.3076923077vw 2.3076923077vw 0 0;
  padding-top: 0.5128205128vw;
  padding-bottom: 2.0512820513vw;
}
.present-content__foot {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 2.3076923077vw 2.3076923077vw;
  padding-top: 1.5384615385vw;
  padding-left: 2.8205128205vw;
  padding-bottom: 3.0769230769vw;
  text-align: center;
  font-size: 6.9230769231vw;
  color: #fa7da3;
}
.present-content__foot--big {
  font-size: 10.7692307692vw;
  font-weight: 600;
}

@media (min-width: 768px) {
  .present {
    padding-top: 2.6388888889vw;
    padding-bottom: 1.6666666667vw;
  }
  .present__container {
    margin: 0 auto;
    padding-left: 0.2083333333vw;
    padding-right: 0;
    width: 38.4722222222vw;
  }
  .present__catch {
    font-size: 2.3611111111vw;
    letter-spacing: 0;
  }
  .present__catch::before, .present__catch::after {
    height: 0.2270833333vw;
    width: 3.0694444444vw;
  }
  .present__catch::before {
    margin-right: -0.1388888889vw;
  }
  .present__catch::after {
    margin-left: -0.6944444444vw;
  }
  .present__sidebar {
    margin-top: 1.1111111111vw;
    padding-right: 0.4166666667vw;
    font-size: 0.9722222222vw;
  }
  .present-content {
    border-radius: 0.6944444444vw;
    margin-top: 1.1805555556vw;
    line-height: 1;
  }
  .present-content__head {
    border-radius: 0.625vw 0.625vw 0 0;
    padding-top: 0.2083333333vw;
    padding-right: 0.4166666667vw;
    padding-bottom: 0.7638888889vw;
    font-size: 2.2222222222vw;
  }
  .present-content__foot {
    border-radius: 0 0 0.625vw 0.625vw;
    padding-top: 0.7638888889vw;
    padding-left: 1.3888888889vw;
    padding-bottom: 1.4583333333vw;
    font-size: 3.0326388889vw;
  }
  .present-content__foot--big {
    font-size: 4.7173611111vw;
    font-weight: 600;
  }
}
/* キャンペーン ----------*/
.campaign {
  padding-top: 3.0769230769vw;
  padding-bottom: 3.0769230769vw;
}
.campaign__container {
  padding: 0 5.1282051282vw;
}
.campaign__heading {
  padding-left: 2.5641025641vw;
  text-align: center;
  font-size: 5.3846153846vw;
  font-weight: 600;
  letter-spacing: 0.5128205128vw;
  color: #fa7da3;
}

.campaign-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 5.8974358974vw;
       column-gap: 5.8974358974vw;
  margin-top: 2.0512820513vw;
  padding: 3.0769230769vw 8.4615384615vw 3.3333333333vw 17.4358974359vw;
  width: 89.7435897436vw;
  background-color: #49c43d;
  border-radius: 10.2564102564vw;
}
.campaign-link:hover {
  cursor: pointer;
  background-color: #40e02f;
}
.campaign-link__text {
  text-align: center;
  font-size: 5.3846153846vw;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.5128205128vw;
}
.campaign-link__icon {
  height: 4.8717948718vw;
}

@media (min-width: 768px) {
  .campaign {
    padding-top: 3.6111111111vw;
    padding-bottom: 1.6666666667vw;
  }
  .campaign--02 {
    padding-top: 3.4722222222vw;
  }
  .campaign__container {
    margin: 0 auto;
    padding: 0;
    width: 39.5833333333vw;
  }
  .campaign__heading {
    padding-left: 0.9722222222vw;
    font-size: 2.3611111111vw;
    letter-spacing: 0.2430555556vw;
  }
  .campaign-link {
    justify-content: end;
    -moz-column-gap: 2.3611111111vw;
         column-gap: 2.3611111111vw;
    margin-top: 0.9722222222vw;
    padding: 1.25vw 3.5416666667vw 1.5972222222vw;
    width: 39.6236111111vw;
    border-radius: 4.5173611111vw;
  }
  .campaign-link__text {
    width: 25vw;
    font-size: 2.3611111111vw;
    letter-spacing: 0.2430555556vw;
  }
  .campaign-link__icon {
    height: 2.1527777778vw;
  }
}
/* 無料体験 ----------*/
.trial {
  padding-top: 4.8717948718vw;
  padding-bottom: 9.4871794872vw;
}
.trial__container {
  margin: 0 auto;
  padding: 0 5.1282051282vw;
}
.trial__heading {
  padding-top: 1.5384615385vw;
  padding-bottom: 1.7948717949vw;
  letter-spacing: 0.4358974359vw;
  text-align: center;
  font-size: 4.358974359vw;
  font-weight: 600;
  color: #50bfff;
  border-top: #50bfff solid 0.2564102564vw;
  border-bottom: #50bfff solid 0.2564102564vw;
}
.trial__text {
  margin-top: 2.5641025641vw;
  margin-left: 0.2564102564vw;
  font-size: 3.5897435897vw;
  line-height: 1.65;
}
.trial__text--small {
  font-size: 2.8205128205vw;
}

@media (min-width: 768px) {
  .trial {
    padding-top: 1.5972222222vw;
    padding-bottom: 3.8194444444vw;
  }
  .trial__container {
    padding: 0;
    width: 39.5833333333vw;
  }
  .trial__heading {
    padding-top: 0.6944444444vw;
    padding-bottom: 0.8333333333vw;
    font-size: 1.9444444444vw;
    letter-spacing: 0.1944444444vw;
    border-top: solid 0.1388888889vw;
    border-bottom: solid 0.1388888889vw;
  }
  .trial__text {
    margin-top: 1.1805555556vw;
    margin-left: 0;
    text-indent: -0.1388888889vw;
    font-size: 1.5875vw;
    letter-spacing: -0.0069444444vw;
  }
  .trial__text--small {
    font-size: 1.2472222222vw;
  }
}
/* ポイント ----------*/
.point {
  padding-top: 7.1794871795vw;
  padding-bottom: 0.0256410256vw;
  margin-bottom: 2.8205128205vw;
  background-color: #fdf0f5;
}
.point__container {
  margin: 0 auto;
  padding: 0 5.1282051282vw;
}
.point__wrap {
  margin-top: 5.641025641vw;
}
.point__content {
  border: #fa7da3 solid 1px;
  border-radius: 2.5641025641vw;
  margin-bottom: 7.9487179487vw;
}
.point__content--02 {
  margin-bottom: 7.4358974359vw;
}
.point__heading {
  text-align: center;
  color: #fff;
  background-color: #fa7da3;
  border-radius: 2.3076923077vw 2.3076923077vw 0 0;
  padding-top: 1.7948717949vw;
  padding-bottom: 2.8205128205vw;
  font-size: 4.6153846154vw;
}
.point__body {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 2.3076923077vw 2.3076923077vw;
  margin: 0 auto;
  padding-top: 3.8461538462vw;
  padding-bottom: 4.358974359vw;
}
.point__text {
  font-size: 3.5897435897vw;
  padding: 0 5.1282051282vw;
}
.point__text--01 {
  letter-spacing: -0.1538461538vw;
}

.point-block {
  display: flex;
  justify-content: center;
  -moz-column-gap: 5.641025641vw;
       column-gap: 5.641025641vw;
  margin-top: 3.0769230769vw;
}
.point-block__inner {
  width: 36.6666666667vw;
}
.point-block__item--our {
  padding: 5.3846153846vw 0 5.8974358974vw 1.0256410256vw;
  text-align: center;
  border: #fa7da3 solid 1px;
}
.point-block__item--other {
  padding: 6.9230769231vw 0 7.4358974359vw;
  text-align: center;
  font-size: 4.6153846154vw;
  letter-spacing: 0.3333333333vw;
  color: #433e3f;
  border: #666 solid 1px;
  background-color: #fdf0f5;
}
.point-block__image {
  width: 17.9487179487vw;
}
.point-block__description {
  margin-top: 1.0256410256vw;
  text-align: center;
  font-size: 3.5897435897vw;
  letter-spacing: 0.0256410256vw;
}

.fullbody {
  margin-top: 4.6153846154vw;
  margin-bottom: 11.0256410256vw;
  text-align: center;
}
.fullbody__heading {
  font-size: 5.8974358974vw;
  font-weight: 600;
  color: #4d2c1c;
}
.fullbody__image {
  margin-top: 6.4102564103vw;
  margin-left: 1.2820512821vw;
  width: 80.2564102564vw;
}

.part {
  text-align: center;
}
.part__heading {
  font-size: 5.8974358974vw;
  font-weight: 600;
  color: #4d2c1c;
}
.part__wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 3.0769230769vw;
       column-gap: 3.0769230769vw;
  row-gap: 4.8717948718vw;
  margin-top: 6.4102564103vw;
}
.part__image {
  width: 25.641025641vw;
}
.part__lead {
  margin-top: 1.0256410256vw;
  text-align: center;
  font-size: 3.5897435897vw;
  font-weight: 600;
  color: #fa7da3;
}

@media (min-width: 768px) {
  .point {
    padding-top: 2.3611111111vw;
    padding-bottom: 0.6944444444vw;
    margin-bottom: 0;
  }
  .point__container {
    padding: 0;
    width: 54.1666666667vw;
  }
  .point__wrap {
    margin-top: 2.9861111111vw;
  }
  .point__content {
    border-radius: 0.6944444444vw;
    margin-bottom: 3.4722222222vw;
  }
  .point__heading {
    border-radius: 0.625vw 0.625vw 0 0;
    padding-top: 1.1111111111vw;
    padding-bottom: 1.1111111111vw;
    font-size: 1.9444444444vw;
  }
  .point__body {
    border-radius: 0 0 0.625vw 0.625vw;
    padding-top: 1.5972222222vw;
    padding-bottom: 2.2916666667vw;
  }
  .point__text {
    padding: 0 2.7777777778vw;
    font-size: 1.4583333333vw;
    letter-spacing: 0.0069444444vw;
  }
  .point__text--01 {
    letter-spacing: 0.0138888889vw;
  }
  .point-block {
    -moz-column-gap: 2.7777777778vw;
         column-gap: 2.7777777778vw;
    margin-top: 1.7361111111vw;
    margin-bottom: 0.2083333333vw;
  }
  .point-block__inner {
    width: 16.1111111111vw;
  }
  .point-block__item--our {
    padding: 2.4305555556vw 0 2.4305555556vw 0.3472222222vw;
    text-align: center;
  }
  .point-block__item--other {
    padding: 2.9861111111vw 0 3.3333333333vw 0.3472222222vw;
    font-size: 2.0159722222vw;
    letter-spacing: 0;
  }
  .point-block__image {
    width: 7.9861111111vw;
  }
  .point-block__description {
    margin-top: 0.6944444444vw;
    font-size: 1.4583333333vw;
    letter-spacing: 0.0069444444vw;
  }
  .fullbody {
    margin-top: 1.7361111111vw;
    margin-bottom: 3.75vw;
  }
  .fullbody__heading {
    font-size: 1.6666666667vw;
    font-weight: 600;
  }
  .fullbody__image {
    margin-top: 1.3888888889vw;
    margin-left: 1.875vw;
    width: 38.6111111111vw;
  }
  .part__heading {
    font-size: 1.6666666667vw;
  }
  .part__wrap {
    -moz-column-gap: 0.8333333333vw;
         column-gap: 0.8333333333vw;
    row-gap: 1.3194444444vw;
    margin-top: 1.8055555556vw;
  }
  .part__image {
    width: 6.9444444444vw;
  }
  .part__lead {
    margin-top: 0.2777777778vw;
    font-size: 0.9722222222vw;
  }
}
/* コース ----------*/
.course {
  padding-top: 8.2051282051vw;
  padding-bottom: 5.3846153846vw;
}
.course__container {
  padding: 0 5.1282051282vw;
}

.course-content {
  border: #fa7da3 solid 1px;
  border-radius: 2.5641025641vw;
  margin-top: 6.1538461538vw;
  text-align: center;
}
.course-content--02 {
  margin-top: 8.2051282051vw;
}
.course-content__heading {
  text-align: center;
  color: #fa7da3;
  background-color: #fdf0f5;
  border-radius: 2.3076923077vw 2.3076923077vw 0 0;
  padding-top: 2.0512820513vw;
  padding-bottom: 2.5641025641vw;
  font-size: 4.6153846154vw;
}
.course-content__body {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 2.3076923077vw 2.3076923077vw;
  padding-top: 3.3333333333vw;
  padding-bottom: 4.8717948718vw;
}
.course-content__text {
  margin-bottom: 3.0769230769vw;
  padding: 0 5.1282051282vw;
  text-align: justify;
  font-size: 3.5897435897vw;
}
.course-content__image {
  width: 79.4871794872vw;
}

@media (min-width: 768px) {
  .course {
    padding-top: 1.9444444444vw;
    padding-bottom: 4.2361111111vw;
  }
  .course__container {
    margin: 0 auto;
    padding: 0;
    width: 50.6944444444vw;
  }
  .course__body {
    display: flex;
    justify-content: space-between;
    margin-top: 2.6388888889vw;
  }
  .course-content {
    border-radius: 0.6944444444vw;
    margin-top: 0;
    width: 24.3055555556vw;
  }
  .course-content--02 {
    margin-top: 0;
  }
  .course-content__heading {
    border-radius: 0.625vw 0.625vw 0 0;
    padding-top: 0.5555555556vw;
    padding-bottom: 0.5555555556vw;
    font-size: 1.9444444444vw;
  }
  .course-content__body {
    border-radius: 0 0 0.625vw 0.625vw;
    padding-top: 0.7638888889vw;
    padding-bottom: 1.3194444444vw;
  }
  .course-content__text {
    margin-bottom: 0.9027777778vw;
    padding: 0 1.3888888889vw;
    font-size: 1.25vw;
  }
  .course-content__text--02 {
    line-break: anywhere;
  }
  .course-content__image {
    width: 21.5277777778vw;
  }
}
/* 口コミ ----------*/
.customer {
  padding-top: 5.1282051282vw;
  padding-bottom: 6.1538461538vw;
  margin-bottom: 3.3333333333vw;
  background-color: #fdf0f5;
}

.slider-item {
  margin-left: 1.7948717949vw;
  margin-right: 1.7948717949vw;
}

.customer-content {
  border: #fa7da3 solid 1px;
  border-radius: 2.5641025641vw;
  margin-top: 4.8717948718vw;
  width: 79.7435897436vw;
  text-align: center;
}
.customer-content__heading {
  text-align: center;
  color: #fff;
  background-color: #fa7da3;
  border-radius: 2.3076923077vw 2.3076923077vw 0 0;
  padding-top: 2.0512820513vw;
  padding-bottom: 2.5641025641vw;
  font-size: 4.6153846154vw;
}
.customer-content__body {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 2.3076923077vw 2.3076923077vw;
  display: flex;
  -moz-column-gap: 3.8461538462vw;
       column-gap: 3.8461538462vw;
  padding: 3.8461538462vw 5.1282051282vw 3.0769230769vw;
}
.customer-content__avater {
  width: 22.0512820513vw;
  flex-shrink: 0;
}

.content-wrap {
  text-align: justify;
}
.content-wrap__lead {
  font-size: 4.1025641026vw;
  letter-spacing: 0.1025641026vw;
  color: #fa7da3;
}
.content-wrap__text {
  margin-top: 1.2820512821vw;
  font-size: 3.5923076923vw;
}

.slick-dots {
  bottom: -38px;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #ffd2d2;
}

.slick-dots li.slick-active button:before {
  color: #fa7da3;
}

@media (min-width: 768px) {
  .customer {
    padding-top: 1.9444444444vw;
    padding-bottom: 3.6805555556vw;
    margin-bottom: 0;
  }
  .slider-item {
    margin-top: 1.0763888889vw;
    margin-left: 0.4861111111vw;
    margin-right: 0.4861111111vw;
  }
  .customer-content {
    border-radius: 0.6944444444vw;
    margin-top: 1.3194444444vw;
    width: 21.5277777778vw;
  }
  .customer-content__heading {
    border-radius: 0.625vw 0.625vw 0 0;
    padding-top: 0.5555555556vw;
    padding-bottom: 0.6944444444vw;
    font-size: 1.2506944444vw;
  }
  .customer-content__body {
    border-radius: 0 0 0.625vw 0.625vw;
    -moz-column-gap: 1.0416666667vw;
         column-gap: 1.0416666667vw;
    padding: 0.9722222222vw 1.5277777778vw 0.9722222222vw 1.1805555556vw;
  }
  .customer-content__avater {
    width: 5.9722222222vw;
    height: 7.8472222222vw;
  }
  .content-wrap__lead {
    margin-top: 0.0694444444vw;
    font-size: 1.1111111111vw;
    letter-spacing: 0.0277777778vw;
  }
  .content-wrap__text {
    margin-top: 0.3472222222vw;
    font-size: 0.9729166667vw;
    letter-spacing: -0.0069444444vw;
  }
  .slick-slider {
    margin: 0 auto;
    width: 67.6388888889vw !important;
  }
}
/* フッター ----------*/
.footer {
  margin-top: 7.9487179487vw;
  padding-top: 3.5897435897vw;
  padding-bottom: 2.5641025641vw;
  background-color: #fa7da3;
}

.footer-logo {
  margin: 0 auto;
  width: 18.4615384615vw;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 2.7777777778vw;
    padding-top: 1.8055555556vw;
    padding-bottom: 1.5277777778vw;
  }
  .footer-logo {
    width: 10.0694444444vw;
  }
}/*# sourceMappingURL=main.css.map */